<div class="form-container">
  <h3 class="form-title">Customer Register Form</h3>
  <!-- Bind the formGroup to the form -->
  <form [formGroup]="customerForm" class="register-form">
    <div class="form-group">
      <label for="name">Name:</label>
      <!-- Bind the input to the name control -->
      <input id="name" formControlName="name" type="text" placeholder="Enter your name" class="form-input" />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <!-- Bind the input to the email control -->
      <input id="email" formControlName="email" type="email" placeholder="Enter your email" class="form-input" />
    </div>
    <div class="form-group">
      <label for="phoneNumber">Phone:</label>
      <!-- Bind the input to the phone control -->
      <input id="phoneNumber" formControlName="phoneNumber" type="tel" placeholder="Enter your phone number"
        class="form-input" />
    </div>
    <div class="address">
      <div class="form-group">
        <label for="street">Street:</label>
        <!-- Bind the input to the street control -->
        <input id="street" formControlName="street" type="text" placeholder="Enter your street" class="form-input" />
      </div>
      <div class="form-group">
        <label for="number">Number:</label>
        <!-- Bind the input to the number control -->
        <input id="number" formControlName="number" type="text" placeholder="Enter your house/building number"
          class="form-input" />
      </div>
      <div class="form-group">
        <label for="zipCode">ZIP Code:</label>
        <!-- Bind the input to the zip control -->
        <input id="zipCode" formControlName="zipCode" type="text" placeholder="Enter your ZIP code" class="form-input" />
      </div>
      <div class="form-group">
        <label for="city">City:</label>
        <!-- Bind the input to the city control -->
        <input id="city" formControlName="city" type="text" placeholder="Enter your city" class="form-input" />
      </div>
    </div>
    <button type="submit" class="submit-button" (click)="addCustomer()">Register</button>
  </form>
</div>